<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/><!--关联数据源-->
    </bean>
    <!--声明式事物-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="add*" isolation="DEFAULT" read-only="false"/> <!--只读-->
            <tx:method name="delete*" isolation="DEFAULT" read-only="false"/>
            <tx:method name="update*" isolation="DEFAULT" read-only="false"/>
            <tx:method name="*" isolation="DEFAULT" read-only="false"/>
        </tx:attributes>
    </tx:advice>
    <!--使AOP来让事物增强可用-->
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* org.xm.asktao.service.impl.*.*(..))"/>
    </aop:config>

    <!--组件扫描-->
    <context:component-scan base-package="org.xm.asktao.service"/>
</beans>
