<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xm.asktao.mapper.ProductMapper">
    <select id="getById" resultType="org.xm.asktao.pojo.Product">
        select * from product where id = 1;
    </select>
</mapper>